@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Assistir Filme:</h1>
    @* <video width="100%" height="500" controls>
    <source 
        src="https://youtu.be/taxn4aqWts0?si=cr7EGotdUN3Ge8YN"
        type="video/mp4">
        Seu navegador não suporta vídeo.
    </video> *@
    <iframe width="560" height="315" src="https://www.youtube.com/embed/taxn4aqWts0?si=MsAMXuY2UAmrGjYY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
